{
    "swagger": "2.0",
    "info": {
        "description": "This is math solving API.",
        "title": "Mvthbot API",
        "contact": {
            "name": "API Support",
            "url": "http://www.t.me/un000nu",
            "email": "stephan@un000nu.pw"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.0.1"
    },
    "host": "un000nu.mvth.pw",
    "basePath": "/api/v1",
    "paths": {
        "/": {
            "get": {
                "description": "Returns users variables (you can ask for specific in body) (user from given JWT)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Returns users variables value",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "description": "Processes multiple statements given in body",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "solve",
                    "api"
                ],
                "summary": "Processes multiple statements",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Deletes users variables (you can ask for specific in body) (user from given JWT)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Deletes users variables",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "description": "Signs in user with telegram username and password generated by bot",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth",
                    "users"
                ],
                "summary": "User sign in",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "description": "Signs out users wiith JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth",
                    "users"
                ],
                "summary": "Users sign out",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/health": {
            "get": {
                "description": "Check for the health of the API.",
                "tags": [
                    "api"
                ],
                "summary": "Health check",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/history": {
            "get": {
                "description": "Returns variables and statements hiistory for user defined by JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Returns history",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Clears variables and statements hiistory from user defined by JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Deletes all users history",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/solve": {
            "post": {
                "description": "Solves equations array given in request body",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "solve",
                    "api"
                ],
                "summary": "Multiple solving of equations",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/solve/{equation}": {
            "post": {
                "description": "Solves equation given in url param",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "solve",
                    "api"
                ],
                "summary": "Basic equations solving",
                "parameters": [
                    {
                        "type": "string",
                        "description": "equation for solve (2+2) encoded in LF",
                        "name": "equation",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/{name}": {
            "get": {
                "description": "Returns users variable value (user from given JWT)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Returns users variable value",
                "parameters": [
                    {
                        "type": "string",
                        "description": "variables name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Deletes users variable (user from given JWT)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "api"
                ],
                "summary": "Deletes users variable",
                "parameters": [
                    {
                        "type": "string",
                        "description": "variables name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/{name}/{equation}": {
            "post": {
                "description": "Sets result of equation given in path variable to variable",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user",
                    "solve",
                    "api"
                ],
                "summary": "Sets result of equation to variable",
                "parameters": [
                    {
                        "type": "string",
                        "description": "variables name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "equation for solve (2+2) encoded in LF",
                        "name": "equation",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    }
}